:root {
    --bg: #fafafa;
    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
    --black: #000000;
    --gray: #505050;
    --gradient: linear-gradient(35deg,  var(--black), var(--gray));
}

body {
    min-height: 100vh;
    background: var(--bg);
    font-family: var(--font);
}
